p {
    font-family: Arial;
  }

.title {
color:teal;
      }
.cursive{
font-family: cursive;
}
.uppercase {
text-transform: uppercase;
        }
.publish-time {
            color: gray;
            }
        